// colors

$primary-brand-default: #F22824;
$primary-brand-light: #DC292E;

$secondary-brand: #FFE211;
$linear-gradient-primary: linear-gradient(to right, #FFEA0D, #FFC120);

$black-100: #343A40;
$black-200: #495057;
$black-300: #ADB5BD;
$white: #FFFFFF;